<mat-toolbar color="primary" class="navbar">
  <span>Routing & Navigation</span>
  <div>
    <span>
      <a
        title="first component"
        routerLink="/first-component"
        routerLinkActive="selected"
        >Component-1</a
      >
    </span>
    <span>
      <a
        title="second component"
        routerLink="/second-component"
        routerLinkActive="selected"
        >Component-2</a
      >
    </span>
    <span>
      <a
        title="third component"
        routerLink="/third-component"
        routerLinkActive="selected"
        >Component-3</a
      >
    </span>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
